
<div>
  <div>
    <div id="parameters">
      Host url <input name="host" value="<%=request.host_with_port%>" disabled />
    </div>
    <div id="header">
      <input name="email" value="kafka@gmail.com" />
      <input name="token" value="a1724f23-7fa0-450c-ac71-fba9e9ab9f88" />
    </div>
  </div>

  <%= render @routes %>
</div>
